@use "./constants" as *;
@use "./functions" as *;

@mixin fontFamilyClass {
  font-family: Montserrat !important;
}

@mixin MainClass {
  border-radius: 18px;
  background-color: $white;
  margin-top: 20px;
  padding: 12px;
}
